* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
}
section#secondPage {
  position: relative;
  padding: 5vh 0 0 0;
  width: 100vw;
  height: 101vh;
  padding-inline: 2.5vw;
  font-size: 1.5vw;
  font-weight: 300;
}
nav#secondNavigation {
  display: flex;
  justify-content: space-between;
  margin-inline: 1vw;
  margin-top: 10vh;
  align-items: flex-end;
  font-weight: 400;
  overflow: hidden;
}
div#secondemptyspace {
  position: absolute;
  transform: translate(0%, 1.2vh);
  border-top: 2px solid rgba(0, 0, 0, 0.648);
  width: 68vw;
}
div#secondCenter {
  position: relative;
  top: 5.5vh;
  width: 100%;
  height: 60vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
div#secondCenter > span:first-child {
  position: relative;
  left: 10vw;
}
div#secondCenter > span {
  font-size: 4vw;
  font-family: "rejouice";
  font-weight: 300;
  margin: -12px;
  letter-spacing: 1.5px;
  position: relative;
  left: 2vw;
  overflow: hidden;
}
