* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
  /* overflow: hidden; */
}
section#fourthPage {
  position: relative;
  padding-top: 100px;
  width: 93vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: auto;
  font-family: "rejouice";
}
div#fourthTop {
  position: relative;
  top: -10px;
  width: 100%;
  height: 7%;
  display: flex;
  justify-content: space-between;
  font-size: 1.5vw;
}
div#fourthTop img {
  position: relative;
  top: 5px;
  width: 22px;
  transform: rotate(90deg) scale(-1);
}
div#fourthCenter {
  position: relative;
  width: 100%;
  display: flex;
  gap: 30px;
}
div#fourthCenter > :nth-child(1n) {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 33%;
  height: 85%;
  overflow: hidden;
  transition: 0.5s all linear;
}

div#fourthCenter img.image {
  position: absolute;
  z-index: -3;
  width: 100%;
  object-fit: cover;
  filter: brightness(0.6);
  transition: 0.5s all linear;
}
div#fourthCenter img.logos,
svg {
  position: absolute;
  z-index: 2;
  transform: translate(0, 100px);
  width: 40%;
  scale: 1.3;
  /* height: 20%; */
}

div#fourthCenter > div:hover video {
  visibility: visible;
}
div#fourthCenter video {
  visibility: hidden;
  position: relative;
  object-fit: contain;
  width: 100%;
}
