* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
div#thirdContainer {
  position: relative;
  bottom: 4vh;
  width: 100%;
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
div#thirdCenterTop {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1%;
  font-family: "rejouice";
  font-size: 1.3vw;
  font-weight: 100;
}
div#thirdCenterTop button {
  border: 1px solid black;
  background-color: black;
  color: white;
  border-radius: 14px;
  padding: 5px 10px;
  letter-spacing: 1px;
}
div#thirdCenterTop img {
  width: 2.5%;
  position: relative;
  right: 1%;
}
div#thirdCenterLink {
  position: relative;
  top: 10px;
  width: 43%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10%;
  overflow: hidden;
}
div#thirdCenterLink > span {
  position: relative;
  font-size: 4vw;
  padding-bottom: 5px;
  border-bottom: 4px solid black;
}
div#thirdCenterLink div#dotContainer {
  position: absolute;
  left: -100px;
  z-index: 2;
  top: 44%;
  height: 57.3%;
  transition: all 0.3s linear;
}
div.animation {
  width: 15%;
  animation: slider 1.3s ease-in-out;
  animation-play-state: running;
  border-block: 15px solid rgb(255, 255, 255);
}
